! 2020-11-03 https://www.iviewui.com
www.iviewui.com##.ivu-alert-with-banner.ivu-alert-with-desc.ivu-alert-with-icon.ivu-alert-warning.ivu-alert

! 2020-12-03 https://new.lewd.ninja
new.lewd.ninja##.is-warning.notification

! 2020-12-23 https://anime1.me
||cdn.anicdn.com/wp-content/plugins/tablepress/js/jquery.datatables.min.js$script
||anime1.me/wp-content/plugins/tablepress/js/jquery.datatables.min.js$script,1p
